extends layout

block content
  div.row
    div.col-md-12
      div.jumbotron
        h1 Welcome to Peer Instruction!
        p Select which mode are you joining in:
        p
          a.btn.btn-success.btn-lg.pull-left(href="/student") Student
          a.btn.btn-danger.btn-lg.pull-right(href="/teacher") Teacher
        div.clearfix
