extends layout

block sidebar
  div.form-group
    label(for="listRooms") Select the room you want to join
    select.form-control#listRooms(size=5)
    button.btn.btn-primary#refreshRooms Refresh
  div.form-group
    label(for="username") Your name
    input.form-control#username(type="text" placeholder="John")
  button.center-block.btn.btn-success#enroll Enroll in the class

block content
  div(style="height: 400px")#videoStream videostream
  div(style="height: 400px")#smallerStreams smallerstreams