extends layout_fluid

block sidebar
  h3 You're a teacher!
  div.form-group
    input.form-control#username(type="text" placeholder="Your name")
  hr
  p <span class="badge">42</span> Students

block content
  div.row
    div.col-md-6(style="height: 400px")#videoStream
      button.btn.btn-success#startStream Start the stream
    div.col-md-6(style="height: 400px")#smallerStreams smallerstreams

block additionaljs
  script(src="/javascripts/teacher.js")
