extends layout

block content
    div.container
        div.row
            div.col-md-4
                h1= title
                h2 Teacher's desktop
        div.row
            div.col-md-8
                p= rooms
