extends layout

block content
    div.container
        div.row
            div.col-md-4
                h1= title
                h2 Teacher's dashboard
        div.row
            div.col-md-8
                a.btn.btn-danger(href='/teacher') Start broadcasting (not working)
